<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 class="mb-3">
        <img src="/secure-icon.png" alt="icon" width="20%" />
      </h1>
      <h2>Login</h2>
    <form action="/auth/login" method="POST">
      <div class="form-group">
        <label for="email">Email address</label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        aria-describedby="emailHelp" 
        placeholder="Enter email" 
        name="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input 
        type="password" 
        class="form-control" 
        id="password" 
        placeholder="Password" 
        name="password">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
      <a class=" btn btn-secondary btn-block" href="/">Cancel</a>
      <div class="form-group">
      </form>
      <p class="mt-4">New User? <a href="/auth/register">Register</a>,       
      Forgot Password? <a href="/auth/forgot">Reset</a></p>
      <h3>Or Login with GitHub</h3>
    </div>
      <a class= "btn btn-primary btn-block" href="/auth/github">GitHub</a>
  </div>
</div>
</div>