<div class="container">
    <form action="/auth/register" method="GET">
    <h1>error</h1>
    <h5><%= registerErr %></h5>
    <p>Server <%= err%></p> 
    <button type="submit" class="btn btn-primary">Go Back</button>
    </form>
</div>