<div class="container">
    <form action="javascript:history.back()" method="GET">
    <h1>error</h1>
    <h5><%= registerErr %></h5>
    <p>Server <%= err%></p> 
    <% if (userExists) { %>
        <h5>Use a different email</h5>
    <% } %> 
    <button type="submit" class="btn btn-primary">Go Back</button>
    </form>
    <form action="/auth/login" method="GET">
    <% if (userExists) { %>
        <div></div>
        <h5>Try to Login...</h5>
        <button type="submit" class="btn btn-secondary">Login</button>
    <% } %> 
    </form>
</div>